/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

.btn {
  padding: 1rem 3rem;
  background: #4c6e97;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  outline: none;
}

.btn:hover {
  background: #121c27;
}

/* Nav Section */

.main-head {
  background: #131c27;
  color: white;
}

#logo {
  font-family: 'Pattaya', sans-serif;
  font-size: 2rem;
  color: #4c6e97;
  text-decoration: none;
}

/* Hero Section */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./assets/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 43vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  color: #4c6e97;
  font-family: 'Pattaya', sans-serif;
  font-size: 7rem;
}

.hero h3 {
  padding: 3rem;
}

.hero .link-spacer {
  margin-bottom: 1.0rem;
}

.hero .wrapper {
  width: 90%;
  margin: auto;
}

/* Featured Books and Books Section */

.featured-head {
  background: #343c44;
  padding: 2rem;
  color: white;
  text-align: center;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  width: 19rem;
  height: 28rem;
  margin: 3rem 3rem;
  border-top: 1px solid #efefef;
  background: floralwhite;
}

.featured-list {
  justify-content: space-evenly;
  margin-top: 4rem;
}

.featured-list-none {
  justify-content: space-evenly;
  margin-top: 8%;
}

.featured-book {
  margin: 1rem 0;
}

.book-link {
  font-size: 1.7rem;
  width: 100%;
}

.book-link.update {
  background: #55606c;
  width: 19rem;
}

.card {
  background-color: #4c6e97;
}

.card:hover {
  background-color: #343c43;
}

.book-detail{
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.book-detail:hover{
  color: white;
  text-decoration: none;
}

.book-link.delete{
  color: white;
  background-color: indianred;
  width: 19rem;
}

.book-link:hover {
  background: #343c43;
}

.book img {
  max-height: 222px;
  min-height: 222px;
}

.books-loading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 190px;
}

/* Book Details Section */

.book-details-container {
  margin-top: 3rem;
}

.book-details {
  text-align: center;
}

.book-details h1{
  font-size: 4rem;
}

.book-details button{
  width: 100%;
  margin-top: 1rem;
}

.book-details-image-wrapper{
  text-align: center;
}

.detail-description {
  display: flex;
  flex: 1 1 50rem;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75%;
  padding: 0 5rem;
}

.book-details-loading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 190px;
}

/* Admin Section */

.admin-wrapper {
  text-align: center;
  width: 70%;
  margin: auto;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px #c7c7c7 solid;
  padding: 2rem;
  border-radius: 20px;
}

.form-wrapper h3{
  flex: 1 1 50rem;
  padding-bottom: 1rem;
}

.form-image {
  flex: 1 1 50rem;
}

.form-image input{
  font-size: 1.5rem;
  margin: auto;
  width: 215px;
}

.image-preview {
  width: 35rem;
}

.form-fields {
  flex: 3 1 50rem;
  text-align: left;
}

.form-fields input {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
}

.form-fields textarea {
  width: 100%;
  font-size: 2rem;
}

.form-wrapper label {
  margin: 0rem 2rem;
  text-align: left;
}

.title-form,
.description-form,
.author-form,
.price-form,
.submit-form,
.featured-form {
  padding: 0.7rem;
}

.form-fields .featured-checkbox {
  width: 2rem;
  position: relative;
  top: 1.4rem;
}

.submit-form {
  width: 100%;
}

.btn-admin {
  background: #55606c;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-admin:hover {
  background: #121c27;
}

#top {
  display: none;
}

/* Cart Section */

.cart {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 5rem;
}

.cart-wrapper {
  display: flex;
  flex-direction: column;
}

.cart-item {
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cart-item .image {
  flex: 1 1 10rem;
}

.cart-item img {
  width: 10rem;
}

.cart-item .details {
  flex: 2 1 10rem;
}

.cart-item .amount {
  flex: 1 1 10rem;
}

.cart-empty {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 190px;
}

.spacer {
  margin-top: 1rem;
}

/* Checkout Section */

.checkout-wrapper {
  text-align: center;
}

.checkout {
  width: 60%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;  
}

.checkout-form {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.stripe-section {
  margin-top: 2rem;
}

@media screen and (max-width: 933px) {
  html {
    font-size: 62.5%;
  }

  nav {
    text-align: center;
  }

  #logo {
    padding: 1rem;
  }

  .book-details {
    margin-top: 4rem;
  }

  .hero {
    padding-top: 2rem;
  }

  .btn {
    padding: .5rem 1rem;
    background: #4c6e97;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    outline: none;
    margin-bottom: 2rem;
  }

  #top {
    display: flex;
    justify-content: center;
  }

}

/* Error Page */

.error-page {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 190px;
}

/* Amplify Section */

:root{
  --amplify-primary-color: #4C6E97;
  --amplify-primary-tint: #4C6E97;
  --amplify-primary-shade: #4C6E97;
  --amplify-primary-contrast: white;
  --amplify-text-xxs: 1.5rem;
  --amplify-text-xs: 1.5rem;
  --amplify-text-sm: 1.5rem;
  --amplify-text-md: 1.5rem;
  --amplify-font-family: 'Poppins', sans-serif;
}
